@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin-top: 20px;
    width: 100%;
    max-width: 420px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background: rgb(82, 115, 146, 0.40);
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

    .form-group label {
        margin-right: 10px;
        text-align: right;
        font-size: 20px;
    }

    .form-group input {
        flex-grow: 1;
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid;
        border-color: #0e2238;
        border-radius: 4px;
        font-size: 16px;
    }

.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

    .btn-container .btn {
        margin-left: 10px;
        width: 100px;
        padding: 10px; 
    }

.btn {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
}

.btn-add {
    background-color: #0e2238;
    color: white;
    border: 1px solid;
    border-color: #0e2238;
}

.btn-cancel {
    background-color: white;
    color: #0e2238;
    border: 1px solid;
    border-color: #0e2238;
}




