@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fff;
    min-width: 0;
}

#sidebar {
    width: 70px;
    min-width: 100px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
}

    #sidebar.expand {
        width: 360px;
        min-width: 260px;
    }

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

    .toggle-btn i {
        font-size: 1.5rem;
        color: #FFF;
    }

.sidebar-logo {
    margin: auto 0;
}

    .sidebar-logo label {
        color: #FFF;
        font-size: 1.15rem;
        font-weight: 600;
    }

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
    animation: fadeIn .25s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link span {
    font-size: 18px;
    margin-left: 24px;
}

.sidebar-link i,
.dropdown-item i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
    margin-bottom: 5px;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.navbar {
    background-color: #fff;
}

.navbar-expand .navbar-collapse {
    min-width: 200px;
}

.avatar {
    height: 50px;
    width: 50px;
}

.sidebar-logo-img {
    width: 32px;
    height: 32px;
}

.sidebar-footer {
    margin-top: auto;
}

.scroll-table {
    height: 700px;
    overflow-y: auto;
    overflow-x: auto;
    border: 3px solid #000;
    border-radius: 15px;
}

    .scroll-table::-webkit-scrollbar {
        width: 7px;
    }

    .scroll-table::-webkit-scrollbar-track {
        background-color: white;
        border-radius: 15px;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .scroll-table::-webkit-scrollbar-thumb {
        background: #000;
        border-radius: 15px;
    }

        .scroll-table::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    .scroll-table table {
        width: 100%;
        border-collapse: collapse;
    }

    .scroll-table th {
        text-align: left;
        background-color: rgb(82, 115, 146, 0.90);
        padding-left: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
    }

    .scroll-table td {
        text-align: left;
        font-size: 18px;
        padding-left: 20px;
        padding-top: 10px;
    }

    .scroll-table tr:hover {
        background-color: rgb(150, 187, 221, 0.55);
    }

    .scroll-table th:nth-child(1) {
        width: 40%;
    }

    .scroll-table th:nth-child(2) {
        width: 45%;
    }

    .scroll-table th:nth-child(3) {
        width: 15%;
    }

.action-btne {
    width: 30px;
    height: 30px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 7px;
}

.action-btnd {
    width: 30px;
    height: 30px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 7px;
}

.action-btne img {
    height: 30px;
    width: 30px;
}

.action-btnd img {
    height: 40px;
    width: 40px;
    position: relative;
    top: -2px;
}

.action-btne img:hover {
    width: 28px;
    height: 28px;
}

.action-btnd img:hover {
    content: url('/images/deleteO.png');
}

.scroll-tables {
    max-height: 700px;
    overflow-y: auto;
    overflow-x: auto;
    border: 3px solid #000;
    border-radius: 15px;
    flex: 1
}

    .scroll-tables::-webkit-scrollbar {
        width: 7px;
    }

    .scroll-tables::-webkit-scrollbar-track {
        background-color: white;
        border-radius: 15px;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .scroll-tables::-webkit-scrollbar-thumb {
        background: #000;
        border-radius: 15px;
    }

        .scroll-tables::-webkit-scrollbar-thumb:hover {
            background: #555;
        }


    .scroll-tables table {
        width: 100%;
        border-collapse: collapse;
    }

    .scroll-tables th {
        text-align: left;
        background-color: rgb(82, 115, 146, 0.90);
        padding-left: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
    }

    .scroll-tables td {
        text-align: left;
        font-size: 18px;
        padding-left: 20px;
        padding-top: 13px;
    }

    .scroll-tables tr:hover {
        background-color: rgb(150, 187, 221, 0.55);
    }

    .scroll-tables th:nth-child(1) {
        width: 5%;
    }

    .scroll-tables th:nth-child(2) {
        width: 40%;
    }

    .scroll-tables th:nth-child(3) {
        width: 40%;
    }

    .scroll-tables th:nth-child(4) {
        width: 15%;
    }

.scroll-tableg {
    max-width: 440px;
    overflow-y: auto;
    overflow-x: auto;
    border: 3px solid #000;
    border-radius: 15px;
}

    .scroll-tableg::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }

    .scroll-tableg::-webkit-scrollbar-track {
        background-color: white;
        border-radius: 15px;
        margin: 6px;
    }

    .scroll-tableg::-webkit-scrollbar-thumb {
        background: #000;
        border-radius: 15px;
    }

        .scroll-tableg::-webkit-scrollbar-thumb:hover {
            background: #555;
        }


    .scroll-tableg table {
        width: 100%;
        border-collapse: collapse;
    }

    .scroll-tableg th {
        text-align: left;
        background-color: rgb(82, 115, 146, 0.90);
        padding-left: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
    }

    .scroll-tableg td {
        text-align: left;
        font-size: 18px;
        padding-left: 20px;
        padding-top: 10px;
    }

    .scroll-tableg tr:hover {
        background-color: rgb(150, 187, 221, 0.55);
    }

    .scroll-tableg th:nth-child(1) {
        width: 70%;
    }

    .scroll-tableg th:nth-child(2) {
        width: 30%;
    }
